@model CartIndexViewModel
<h2>Your cart</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th class="text-right">Price</th>
            <th class="text-right">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.CartLines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.ProductName</td>
                <td class="text-right">@line.Product.UnitPrice.ToString("c")</td>
                <td class="text-right">
                    @((line.Quantity * line.Product.UnitPrice).ToString("c"))
                </td>

                <td>
                    <form asp-action="RemoveFromCart" method="post">

                        <input type="hidden" name="ProductID" value="@line.Product.ProductID"/>
                        <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                    </form>

                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue shopping</a>
    <a asp-controller="Order" asp-action="Checkout" class="btn btn-primary">Checkout</a>
</div>
